"*":
  "autocomplete-python":
    useKite: false
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "minimap"
      "indent-guide-improved"
      "linter-flow"
    ]
    telemetryConsent: "limited"
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "50f21e33-022f-d281-ba07-12eb96287a64"
  "linter-rubocop":
    disableWhenNoConfigFile: true
  "linter-ui-default":
    panelHeight: 69
  react:
    enabledForAllJavascriptFiles: true
  welcome:
    showOnStartup: false
